<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <br>
          <form class="form-horizontal" v-on:submit.prevent="handleLoginFormSubmit()">
            <fieldset>
              <legend>Login</legend>
              <br>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail"
                    placeholder="Email"
                    v-model="login.email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    placeholder="Password"
                    v-model="login.password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>
    </div>

  </div>
</template>

<script>
import {loginUrl} from './config'
import {clientId, clientSecret} from './env'
export default {
  data () {
    return {
      login: {
        email: 'sagar@gmail.com',
        password: 'password'
      }
    }
  },
  methods: {

    handleLoginFormSubmit () {
      const postData = {
        grant_type: 'password',
        client_id: clientId,
        client_secret: clientSecret,
        username: this.login.email,
        password: this.login.password,
        scope: ''
      }
      this.$http.post(loginUrl, postData)
      .then(response => {
        console.log(response)
      })
    }
  }
}
</script>

<style>

</style>
